.carousel {
  display: flex;
  width: 80%; /* 80% of the screen width */
  max-width: 767px; /* mobile limit */
  margin: 0 auto; /* center the carousel */
  overflow: hidden;
}
 
.slides {
  display: flex;
  width: 400%; /* 4 slides → 100% * 4 */
  animation: slide 12s infinite;
}
 
.slide {
  flex: 0 0 100%; /* each slide take 100% of the container space */
  text-align: center;
  font-size: 24px;
  color: white;
  line-height: 200px;
}
 
/* Animation */
@keyframes slide {
  0%, 20%   { transform: translateX(0); }
  25%, 45%  { transform: translateX(-100%); }
  50%, 70%  { transform: translateX(-200%); }
  75%, 95%  { transform: translateX(-300%); }
  100%      { transform: translateX(0); }
}
 
.img_deg {
        float: left;
        width: 80%;
    }